{% extends "index.html" %}
{% load addcss %}
{% block head %}

<link href="/media/bootstrap-social/bootstrap-social.css" rel="stylesheet">
<script src='/media/lib/moment.min.js'></script>
<script src='/media/lib/moment-timezone-with-data-2010-2020.min.js'></script>

<script>
$(function(){
  $( "#id_userprofile-timezone" ).val( moment.tz.guess() );
});

</script>
{% endblock %}
{% block body %}
{% if errors == "EMAILDUP" %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    That email address is already registered
</div>
{% endif %}
{% if form.errors %}
<p>Check form</p>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registration</h3>
                </div>
                <div class="panel-body">
                    {{userprofileform.errors}}
                    {{userform.errors}}
                    <form method="POST" action="">
                        {% csrf_token %}

                        {{ userprofileform.errors }}
                        {{ userform.errors }}

                        <div class="form-group">
                            {{ userform.username.errors }}
                            <label for="{{ userform.username.id_for_label }}">Username</label>
                            {{ userform.username|addcss:"form-control" }}
                            <p class="text-muted">Letters, digits, and @ . + - _ only.</p>
                        </div>
                        <div class="form-group">
                            {{ userform.password.errors }}
                            <label for="{{ userform.password.id_for_label }}">Password</label>
                            {{ userform.password|addcss:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ userform.email.errors }}
                            <label for="{{ userform.email.id_for_label }}">Email Address</label>
                            {{ userform.email|addcss:"form-control" }}
                        </div>
                        <div class="form-group">
                            {{ userprofileform.timezone.errors }}
                            <label for="{{ userprofileform.timezone.id_for_label }}">Timezone</label>
                            {{ userprofileform.timezone|addcss:"form-control" }}
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-4"><input class='btn btn-primary' type="submit" value="Register"></div>
                            <div class="col-md-6">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

