{% extends "index.html" %}


{% block head %}


{% endblock %}

{% block body %}

{% if user.is_authenticated %}


Go to <a href='/metrics/'>Metrics</a>


{% else %}


<div class="container">
    <div class="header">
        <h3 class="text-muted">Password Reset Complete</h3>
    </div>
    <div class="row">
        <!-- Display the success message on successful submission and validation
             of the contact form data.
         -->
        <div class="alert alert-success">
            Password reset complete, you may now <a href='/login/'>log in</a>.
        </div>
    </div>
</div>


{% endif %}


{% endblock %}


